.image1{
    width: 500px;
    height: 500px;
    border-radius: 5px
    
}
.details{
        font-size: 85%;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        font-weight: 500;
        margin-left: 30px;
      
}

.item-container1 {
    float: left;
    margin: 15px;
  }

  .slider-container {
    clear: both;
    padding-bottom: 20px;
    height: 230px;
    margin-top: 20px;
  }
  